body{
    font-family: 'Open Sans', sans-serif;
    margin:0;
    padding:0;
    font-size: 20px;
    display:flex;
    flex-flow: column nowrap;
}
a{    
    text-decoration: none;
}

header{
    background-color: aqua;
    background-color: rgb(58, 127, 255);
    height: 40rem;
    top: 5em;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
    nav{
        background-color: rgb(58, 127, 255);
        position: absolute;
        font-size: .7em;
        height: 7%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 100%;
    }
        .logo{
            height: 2em;
            width: 12em;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            background-image: url("../Media/workanna.drawio.png");
            background-size: contain;
            background-repeat: no-repeat;
            display: flex;
            align-items: center;
        }
        .logo img{
            height: 50%;
        }
        .partes{
            width: 40%;
            color: white;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
        }
            .partes a, .interaccion a{
                color:white;
                padding-bottom: 9px;
                padding-top: 9px;
                margin: 2px 10px;
                border-bottom: 5px solid transparent;
            }
        .interaccion{
            display: flex;
            width: 28%;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
        }
            .publica-proyecto{
                background-color: rgb(22,193,83);
                border-radius: 30px;
                padding: 10px 15px;
                text-align: center;
                color:white;
            }
    .container-header{
        position: relative;
        width: 55em;
        height: 85%;
        top: 4em;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
    }
        .container-a-header{
            margin-top: 1.5em;
            font-size: .8em;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
        }   
            .directorio{
                color: white;
                margin-left: 20px;
            }
        .anuncio{
            font-size: 2.3em;
            text-align: left;
            justify-content: flex-end;
            align-items: flex-end;
            width: 50%;
            color: white;
            font-weight: 900;
        }
        .negrita1{            
            color: rgb(28, 63, 127);
        }
        .personas-img{
            position: absolute;
            height: 25em;
            left: 20em;
            top: 4.5em;
        }

main{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    color: rgb(75, 75, 75);
}

    #Informacion{
        width: 60em;
        height: auto;
        margin-top: 2em;
    }
        section h2{
            font-size: 1.5em;
        }
        .container-Informacion{
            font-size: .9em;
            width: 100%;
            margin-top: 1.8em;
            margin-bottom: 2em;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
        }
        .container-como-funciona{
            width: 20%;
            margin-right: 5%;
        }
        #Informacion .publica-proyecto{
            font-size: .7em;
            margin-right: 20px;
        }
        section a{
            color: rgb(28, 63, 127);
            text-decoration: none;
            font-size: .7em;
        }
    .Proyectos{
        background-color: rgb(240, 240, 240);
        width: 100%;
        margin-top: 3em;
        margin-bottom: 3em;
        padding-bottom: 3.5em;
        padding-top: 2em;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
        .container-proyectos{
            width: 60em;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
        }
        article{
            width: 30%;
            margin-right: 3%;
            font-size: 1em;
        }
        article p{
            margin:0;
        }
        article a h4{
            margin-bottom:5px;
            margin-top: 0;
            font-size: 1.5em;
        }
    #Empresas{
        width: 60em;
    }
        .container-banner{
            background-color: rgb(125,108,223);
            height: 15em;
            color: white;
            border-radius: 10px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
        }
            .banner{
                width: 75%;
                font-size: 1.2em;
            }
                .banner a{
                    background-color: rgb(57,40,131);
                    padding: 8px 20px;
                    border-radius: 40px;
                    color: white;
                }
            .container-banner img{
                height: 20em;               
            }

        .container-empresas{
            margin: 3em ;
            display: flex;
            justify-content: center;
        }
            .container-empresas img{
                height: 3em;
                filter:grayscale();
                margin:0px 9%;
                position: static;
            }
        .container-descubre{
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
        }
            .container-anchor-descubre{
                
                width: 60%;
                display: flex;
                justify-content: center;
                align-items: center;
                display: flex;
            }
            .container-anchor-descubre a{
                margin: 10px 20px;
            }
            blockquote{
                font-style: italic;
                width: 50%;
                text-align: center;
                font-size: 1.2em;
            }
    #Habilidades{
        width: 60em;
        display: flex;
        flex-flow: column wrap;
        margin-top: 2em;
    }
        .listas{
            display: flex;
            flex-flow: row;
            width: 100%;
            justify-content: center;
        }
            .listas ul{
                margin-left: 2em;
                color:rgb(58, 127, 255);
                line-height: 2em;
                flex: 1 1;
            }
                .listas ul a{
                    color: rgb(75, 75, 75);
                    margin-left: 5px;
                }
        #Habilidades>a{
            color: rgb(58, 127, 255);
            font-size: 1em;
        }
#Noticias{
    width: 100%;
}
    .super-container{
        width: 60em;
    }
        article img{
            height: 1.5em;
            margin-bottom: 1em;
            filter: grayscale();
        }
        #Noticias h2{
            margin-bottom: 1.5em;
        }
        .super-container>a, .boton-azul{
            background-color: rgb(28, 63, 127);
            padding: 10px 20px;
            color: white;
            border-radius: 50px;
        }
        .super-container article{
            margin-bottom: 2em;
        }

#Posibilidades{
    width: 55em;
}
    .container-card{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        margin-bottom: 1em;
        padding-bottom: 2em;
    }
        .card{
            width: 40%;
            padding: 0;
        }
        .card:last-of-type{
            margin-left: 10%;
        }
        .card figure{
            display: flex;
            justify-content: center;
            align-items: flex-end;
            background-color: rgb(58, 127, 255);
            height: 6em;
            margin:0;
            margin-top: 3em;
            border-radius: 5px;
            width: 100%;
        }
        figure.fondo-dif{
            background-color: rgb(28, 63, 127);
        }
            .card img{
                height: 8em;
            }
        .card h3{
            color: rgb(28, 63, 127);
        }
        .card p{
            font-size: .75em;
            margin-bottom: 1em;
        }
        .boton-azul{
            background-color: rgb(28, 63, 127);
        }
    .container-stats{
        display: flex;
        width: 100%;
    }
        .statistics{
            width: 60%;
            height: 4.5em;
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: flex-start;
            color: black;
        }
            .stat h4{
                width:5em;
                font-size: 1.5em;
                margin:0;
                margin-right: 1em;
            }
            .stat h6{
                margin:0;
            }
        .enlaces{
            width: 45%;
            height: 80%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-end;
        }
            .enlaces a{
                margin: 0px 20px;
            }

footer{
    width: 100%;
    background-color: rgb(240, 240, 240);
    margin-top: 4em;
    color: rgb(75, 75, 75);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
    #header-footer{
        width: 55em;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        border-bottom: 1.5px solid rgb(189, 187, 187);
    }
        .Derechos{
            width: 70%;
            padding-bottom: 1.5em;
            padding-top: 1em;
        }
            .Derechos img{
                width: 7em;
            }
            .Derechos h6{
                margin: 0;
                font-size: .6em;
                color: rgb(148, 148, 148);
            }
        .Redes{
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-end;
            width: 30%;
        }
            form select{
                background-color: transparent;
                border:none;
            }
            .Redes svg{
                margin-left: 10px;
            }
    #summary{ 
        width: 100%;     
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        margin-bottom: 1.5em;
    }
        .container-summary{
            margin-right: 1.5em;
            width: 10em;
        }
        .container-summary:last-of-type{
            margin-right: 0;
        }
            .container-summary h4{
                font-size: .7em;
                margin-left: 1em;
            }
            .container-summary ul{
                list-style-type: none;
                margin-left: 0;
                align-items: flex-start;
                font-size: .75em;
                line-height: 1.6em;
            }
            .container-summary ul li a{
                color: rgb(75, 75, 75);
            }
  
 