
#Que-hacemos, #Valores, #Random{
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 3em 0em;
}
.container-que, .container-valores, .container-random{
    width: 60em;
}
#Que-hacemos h2{
    color: rgb(28, 63, 127);
}

/*Pone la imagen por debajo como fondo*/
body{
    background-image: url("../Media/pot.png");
    background-attachment: fixed;
    background-size: cover;
    background-color: rgb(58, 127, 255);
}
    #Que-hacemos{
        background-color: white;
    }
        #Que-hacemos p{
            font-size: 1em;
            line-height: 1.3em;
            color: rgb(43, 43, 43);
        }
        /*Da tamaño cuadrado a las celdas de la tabla*/
        table tr{
            height: 8em;
        }
        tr td{
            width: 8em;
            border: none;
            margin:0;
            background-size: cover;
        }
        /*Da tamaño del doble de celdas a la última columna*/
        tr:first-of-type td:last-of-type{
            width: 16em;
        }
        /*Da diferentes colores a las celdas que tienen texto*/
        tr:nth-of-type(2) td:nth-of-type(2n){
            background-color: rgb(58, 127, 255);
            color: white;
            padding-left: 1.5em;
        }
        tr:nth-of-type(2) td:nth-of-type(2){
            background-color: rgb(25, 57, 116);
        }
        /*Selecciona distintas celdas y les pone imagen de fondo*/
        tr:nth-of-type(3) td:nth-of-type(3n),
        tr:nth-of-type(1) td:nth-of-type(4){
            background-image: url("../Media/trabajo1.jpg");
        }
        tr:nth-of-type(1) td:nth-of-type(2),
        tr:first-of-type td:last-of-type,  
        tr:nth-of-type(3) td:first-of-type{
            background-image: url("../Media/trabajo2.jpg");
        }
        tr:nth-of-type(1) td:first-of-type,
        tr:nth-of-type(3) td:nth-of-type(4){
            background-image: url("../Media/trabajo3.jpg");
        }
        tr:nth-of-type(2) td:first-of-type,
        tr:nth-of-type(3) td:last-of-type{
            background-image: url("../Media/trabajo4.jpg");
        }
        tr:nth-of-type(1) td:nth-of-type(3),
        tr:nth-of-type(2) td:nth-of-type(3),
        tr:nth-of-type(3) td:nth-of-type(2){
            background-image: url("../Media/trabajo5.jpg");
        }
    #Valores{
        background-color: rgb(25, 57, 116);
        color: white;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
        #Valores h2{
            color: white;
            margin:0;
        }
        .valores{
            display: flex;
            flex-flow: row wrap;
            width: 100%;
        }
        /*Tamaño de 20% para que se vean 4*/
        .valores div{
            width: 20%;
            margin: 3%;
            margin-left: 0;
            margin-bottom: 0;
            font-size: .8em;
            line-height: 1.5em;
        }

    #Random{
        background-color: transparent;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        color: white;
    }
        .container-random p{
            width: 35em;
            font-size: 1.2em;
            line-height: 1.5em;
        }
        .container-random ul{
            list-style-type:circle;
            font-size: 2em;
        }
        .container-random .boton-azul{
            font-size: 1em;
        }
    

@media (max-width: 1280px) {
    .container-que, .container-valores, .container-random{
        width: 50em;
    }
    .personas-img{
        height: 18em;
        top: 10em;
        left: 18em;
    }
    /*Permite que se muestren 3, en lugar de 4 valores*/
    .valores div{
        width: 30%;
    }
}
@media(max-width: 1090px){              
    .container-que, .container-valores, .container-random{
        width: 40em;
    }
    /*Se muestran 3, pero a mejor tamaño*/
    .valores div{
        width: 35%;
    }
}
        
        