html{
    font-family: 'Open sans', sans-serif;
    background-color: rgb(140, 180, 255);
    color: black;
    background-image: url("../Media/pot.png");
    background-size: cover;
    font-weight: 900;
}
main{
    background-color: white;
    width: 100%;
    margin: 0;
    opacity: .7;
}
    .container-color{
        margin-top: 3em;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
img{
    width: 60em;
}

ul, ol{
    list-style-type: none;
}